@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

              
body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    top: 125px;
    left: 82px;
    margin: 20px;
    border-radius: 5px;
}

.font {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
}

button {
    background: #1B244A;
    height: 45px;
    width: 50px;
    border: 2px solid #9AABD8;
    border-radius: 5px;   
}

.typography {
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #9AABD8;
}

.headline {
    color: #eeeeee;
    font: Verdana;
    font-weight: 700;
    size: 40px;
    line-height: 35.89px;
    align-content: center;    
}
.reset {
    background: #1B244A;
    height: 50px;
    width: 85px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin: 25px;
    margin-left: 25px;
    
}
.timer {
    background: #1B244A;
    color: #F94F6D;
    height: 70px;
    width: 125px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin: 25px;
    margin-left: 25px;
}

